body { font-size: 18px; max-width: 100%; margin: 0; padding: 0; line-height: 1.2; font-family: 'Times New Roman', Times, serif; }
.container { margin-top: 0; display: flex; flex-flow: row wrap; }
.subtitle { margin-top: 0.5em; }
.author { margin-top: 1em; }
.date { margin-top: 1ex; font-size: 100%; }

h2.titleHead { font-size: 1.5em; margin: 0; }
h3.sectionHead, h3.likesectionHead { font-size: 1.15em; }
h4.subsectionHead, h5.subsubsectionHead { font-size: 1em; }
h3, h4, h5 { margin-top: 1.33em; margin-bottom: 1.33ex; text-align: center; }
h2 + h3, h3 + h4, h4 + h5 { margin-top: 1em; }
h4, h5 { font-style: italic; }
h5 { font-weight: normal; }
.titlemark { display: inline-block; padding-right: 0.5ex; }

p { text-align: justify; display: none; }
p.noindent span.next { display: none; }
p.noindent { display: block; }
p.indent { text-indent: 1.5em; display: block; }
p + p.indent { margin-top: 0; }
img { width: 60%; height: auto; }
ul { margin: 1ex 0; }
a { text-decoration: none; }

header.header-bar { padding: 5px .62em; background-color: black; height: 18px; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; }
.header-bar a { margin: 0; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white; font-size: 18px; line-height: 1; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: normal; display: inline-block; width: 90%; }
.header-bar .hamburger { display: none; font-size: 18px; line-height: inherit; margin: 0; font-weight: 600; background: none; color: white; box-shadow: none; border: none; outline: inherit; }

main.main-content { margin: 0; padding: .62em; box-sizing: border-box; max-width: 70ch; min-width: 35ch; }
footer.footer { font-size: inherit; padding: 5px .62em; margin: 0; border-top: 1px solid black; }
.footer .content { font-size: 90%; }

nav.TOC { padding: .62em; margin: 0; box-sizing: border-box; max-width: 30%; min-width: 150px; overflow: hidden; }
nav.TOC span { margin-bottom: .5ex; }
.TOC.bookTOC { max-width: 70ch; }
body:has(.bookTOC) .container { flex-flow: column nowrap; align-items: center; }
body:has(.bookTOC) .header-bar { display: none; }
body:has(.bookTOC) .footer { display: none; }

@media (max-width: 950px) {
    .header-bar .hamburger { display: inline-block; }
    .TOC:not(.bookTOC):not(.active) { display: none; }
    .container { max-width: 70ch; margin: 0 auto; }
    .container > .TOC { max-width: 70ch; }
}
div.maketitle { max-width: 70ch; margin: 2em; }
nav.bookTOC + .main-content { display: none; }
nav.crosslinks-bottom { margin-top: 1em; }

.enumerate { padding: 0; margin: 1ex; }
.enumerate li { list-style-type: none; margin: 1ex 0; }
.enumerate li li:last-child { margin-bottom: 0; }
.enumerate .enumitem { display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: first baseline; }
.enumerate li div { margin: 0; padding: 0 !important; }
.tcolorbox .enumerate { margin: 0; }
.enumerate li p { margin-bottom: 0 !important; text-align: left; }
.enumerate li p + p { margin-top: 1ex; }
.enumerate.pcode li p + p { margin-top: .5ex; }
.enumerate .enumitem-mark { width: 3ex; text-align: right; }
.enumerate .enumitem-content { margin-left: 1ex; flex: 1; }

.enumerate.pcode { margin: 0; }
.enumerate.pcode li { margin: .5ex 0; }
.enumerate.pcode .enumitem-mark { width: 15pt; }
.enumerate.pcode .enumitem-content { margin-left: 9pt; }
.enumerate.pcode li ol { margin-left: -24pt; }
.enumerate.pcode li ol .enumitem-content { margin-left: 33pt; }
.enumerate.pcode li ol li ol { margin-left: -48pt; }
.enumerate.pcode li ol li ol .enumitem-content { margin-left: 57pt; }
.enumerate.pcode li ol li ol li ol { margin-left: -72pt; }
.enumerate.pcode li ol li ol li ol .enumitem-content { margin-left: 81pt; }
.enumerate.pcode-0 li p:not(:first-child) { margin-left: 24pt; }

figure.float { display: flex; flex-flow: column nowrap; align-items: center;  margin: 1.5em 0; width: 100%; position: relative; }
.float:has(.subfig) { display: flex; flex-flow: row wrap; justify-content: space-between; max-width: 100%; width: 100%; margin-right: 0; align-items: flex-start; }
.float .subfig img { width: 100%; }
.float .subfig { width: 49%; min-width: 300px; }
.float > span { width: 100%; }
div.minipage { width: auto; }
figcaption.caption { width: 100%; text-indent: 0pt; margin: 0; }
img + figcaption.caption { margin-top: 1ex; }
.subfig .caption { margin-bottom: 5px; }
.subfig .caption span.id { font-weight: normal; }
.algorithm .caption { text-align: left; margin-left: 0; margin-right: 0; }
.table .caption { text-align: left; margin-left: 0; margin-right: 0; }

.newtheorem .head, .proof .head, .caption .id { padding-right: 1ex; }
div.newtheorem { margin: 1em 0; }
