body { font-size: large; }
h3, h4 { margin-top: 1.33em; margin-bottom: 1em; text-align: center; }
h3 + h4 { margin-top: 1em; }
h4 { font-style: italic; margin-bottom: 1.33ex; }
img { width: 60%; height: auto; }
.enumerate { padding: 0; margin: 1ex; }
.enumerate li { list-style-type: none; margin: 1ex; }
.enumerate li li { margin: 1ex 0; }
.enumerate li li:last-child { margin-bottom: 0; }
.enumerate li li .enumitem-mark { width: 3ex; }
.enumerate .enumitem { display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: first baseline; align-content: stretch; }
.enumerate li div { margin: 0; padding: 0 !important; }
.tcolorbox .enumerate { margin: 0; }
.enumerate li p { margin-bottom: 0 !important; }
.enumerate li p + p { margin-top: 1ex; }
.enumerate .enumitem-mark { width: 2ex; text-align: right; }
.enumerate .enumitem-content { margin-left: 1ex; }
.float { display: flex; flex-flow: column nowrap; align-items: center;  margin: 2em 0; width: 100%; }
.float:has(.subfig) { display: flex; flex-flow: row wrap; justify-content: space-between; max-width: 100%; width: 100%; margin-right: 0; align-items: flex-start; }
.float .caption .content { margin-left: 1ex; }
.float .subfig img { width: 100%; }
.float .subfig { width: 49%; }
.float > span { width: 100%; }
.float > .caption { width: 100%; }
.subfig + .caption { margin-top: 5px; }